body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav-link{
  color: rgb(182, 33, 33) !important;
}

.navbar-brand{
  color: rgb(182, 33, 33) !important;
}
.flex-container{
  display: flex;
}
input{
  margin-top: 10px !important;
  box-shadow: none !important;
}

h2{
  color: rgb(182, 33, 33) !important;
}
.text-left{
  text-align: left;
}
.fa-plus{
  color: green;
  margin: 5px;
}
.fa-minus{
  color: red;
  margin: 5px;
}
.fa-trash{
  color: red;
  margin: 5px;
}

.adminActions{
  padding: 10px;
  background-color: brown;
}

.adminActions li{
 list-style-type: none;
 display: inline !important;
 color: white !important;
}
.adminActions li a{
 
  color: white!important;
  padding: 30px !important;
 }

.btn{
  background-color: red;
}
.items-container{
  border: 1px solid  rgb(182, 33, 33) !important;
}
.cart-items{
  border: 1px solid  rgb(182, 33, 33) !important;
}
tr,td,th{
  text-align: left;
}
button{
  background-color:rgb(182, 33, 33);
  color:white;
  font-size:"20px"
}